body{
    background-color: rgba(233, 170, 75, 0.726);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
    color:rgb(250, 71, 0)
}

h2{
    color:rgb(250, 71, 0)
}

li{
    color:rgb(0, 48, 12)
}

a {
  display: inline-block;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1);
  transform-origin: left;
}