table{
    background-color: rgb(201, 218, 255);
    border-collapse: collapse;
    /* 
    atributo específico para table
    tirar os espaçamentos entre as células
    */
}

table tr:nth-child(Odd){
    /* 
    nth-child - significa enésimo filho
    odd - ímpares
    evem - pares
    */
    background-color: rgb(232, 232, 232);
}

table tr{
    border-bottom: 1px solid black;
}

table td{
    padding: 1rem;
}

table td:nth-child(2){
    font-weight: bold;
}