body{
    background-color: rgb(160, 160, 132);
    border: 0.5rem, solid, white, ;
    border-radius: 1rem;
}

@font-face{
    font-family: 'the-car-font';   
    src: url(../assets/fonts/Mortend\ Bold.otf) format(opentype);
    src: url(../assets/fonts/Mortend\ Bold.ttf) format(truetype);
}

.card-inicial{
    background-image: url(../assets/imgs/background.webp);
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 3rem;
    color: white;
    font-family:'the-car-font', 'serif';
    display: flex;
    margin: 2rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.menu-horizontal ul{
    display: flex;
    justify-content: center;
    flex-direction:row;
    gap: 2rem;
    list-style: none;
    color: white;
    font-size: 1.2rem;
    font-family: "the-car-font";
}

a{
    display: inline-block;
    color:inherit;
    transition: transform 0.3s ease, color 0.3s ease;
}

a:hover{
    transform: scale(1.1);
    color:orangered;
}

.fotos-integrantes{
    height: 25rem;
    border-radius: 1rem;
}

.integrante{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color:white;
}

.integrante img{
    margin-bottom: 1rem;
}

.integrante h2{
    color: orangered;
}

#dev{
    background-color: orangered;
    border-radius: 1rem;
    padding: 2.5rem;
    margin: 2rem;
    margin-top: 3rem;
    font-family: 'the-car-font';
}

#github{
    transform-origin: left;
}

#github:hover{
    color:white;
}

.texto-main{
    margin-left: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 1.3rem;
}

.texto-main h2{
    color: orangered;
}

#email{
    color:blue
}