body{
    margin: 0
}

header{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color:white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 3.5rem;
}
h1 a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    transition: 0.2s ease, color 0.2s ease;
}
h1 a:hover{
    color:lightblue;
    transform: scale(1.2);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: rgba(0, 0, 0, 0.67);
    width: 100%;
    margin-bottom: 1rem;
}

.menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 2.5rem;
    margin:0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
.links-menu{
    display: inline-block;
    transition: 0.2s ease, color 0.2s ease;
    color:inherit;
    text-decoration: none;
}
.links-menu:hover{
    transform: scale(1.2);
    color: lightblue;
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 1.5rem;
}

#subtitulo{
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    text-align: center;
}
#introducao{
    font-size: 1.2rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 4rem auto 0 auto;
    max-width: 100rem;
}

.card{

    background-image: url(../assets/bg-boxes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;

    max-width: 20rem;
    max-height: 20rem;

    aspect-ratio: 1/1;

    min-height: 10rem;
    min-width: 10rem;

    color:white;
    text-align: center;

    padding: 2rem;
}

.card h3{
    font-size: 2.5rem;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:1rem 0 0 0;
}

.card p{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.card img{
    margin-top: 1rem;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 3rem;
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dev{
    color:white;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;

}
.dev a{
    display: inline-block;
    color:inherit;
    transition: 0.2s ease;
    transform-origin: left;
}
.dev a:hover{
    transform: scale(1.05);
}

.redes{
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap:0.8rem;
    align-items: center;
    justify-content:flex-end;
}

.redes a{
    transition: 0.2s ease;
}

.redes a:hover{
    transform: scale(1.2);
}

#design{
    margin-top: 1.8rem;
    font-size: 1.9rem;
}

#minora{
    font-size: 2.3rem;
}